/*-----------Курс "Адаптивная и мобильная верстка"----------*/
/*---------------------Дипломная работа---------------------*/
/*--------------------Олег Бирюков, 2020--------------------*/

/*---------------------Загрузка шрифтов---------------------*/
@font-face {
	font-family: "OpenSans";
	src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
			 url("./fonts/OpenSans-Regular.woff") format("woff"),
			 url("./fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
			 url("./fonts/OpenSans-Bold.woff") format("woff"),
			 url("./fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/*-----------------Нормализация элементов-------------------*/
* {
	/*Модель по умолчанию для блочных элементов*/
  box-sizing: content-box;
  /*И ничего лишнего*/
  margin: 0;
  padding: 0;
  border-style: none;
	
  /*Шрифт по умолчанию*/
  font-family: "Open Sans", "OpenSans", sans-serif;
  font-style: normal;  
	font-size: 1em; /*Браузер Opera выдал для h1 font-size: 2em; и при задании в px шрифт оказался в два раза больше*/
}

a {
  /*Ссылки не подчёркивать*/
  text-decoration: none;
}

/*========Стили для мобильной версии ("mobil first")========*/
.wrapper {
	min-width: 320px;	
} 

.header { 
  position: relative; /*Чтобы позиционировать относительно него маску*/
	min-width: 320px;	
  padding-top: 32px;
  padding-bottom: 85px;
	
  background-color: #000000;
	background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*Псевдоэлемент - маска для затемнения изображения*/
.header::after {
  content: "";
  
  background-color: #0a0e34;
  opacity: 0.9;
 
  /*Растянуть на весь родительский элемент*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.top-content {
  /*Контейнер для отображения поверх маски затемнения фонового изображения*/
	position: relative;
  z-index: 1;
}

.header-top {
	width: 135px;
	margin: 0 auto;
}

.logo-text {
	width: 100%;
}

.header-text {
	width: 280px;
	margin: 122px auto 0 auto;
	
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 1px;
	font-weight: 700;
  text-transform: uppercase;
	color: #ffffff;	   
}

.header-text-line2 {
	margin-top: 17px;
	padding-left: 45px;
}

.header-buttons {
	/******************************************************************************************************************
		Здесь убрал ограничение по ширине (width: 280px), но ввёл внутренние отступы, так как в мобильной версии 
		ширина кнопок обычно зависит не столько от содержимого, сколько от ширины экрана. В других версиях этот блок будет flex-контейнером
		с расположением дочерних элементов по центру, т.е. ограничение по ширине также не потребуется. 
	*/ 
	margin-top: 84px;
	padding: 0 calc((100% - 280px)/2);
}

.download-button {
	display: block;
	border-radius: 50px;
	background-color: #5e42b0;
	color: #ffffff;
}

.download-button:not(:first-child) {
	margin-top: 14px;
}

.download-button:hover .download-button-icon {
	fill: #ff8800;
}

.download-button:hover .download-button-text {
	color: #ff8800;
}

.download-button-container {	
	display: flex;
	align-items: center; /*По умолчанию иконки и текст на осевой линии*/
	/**************************************************************************************************
		Здесь две строки width: 116px; и margin: 0 auto; заменил на строку padding-left: 30%; т.е.
		растянул flex-контейнер на всю кнопку, а уже в нём сделал внутренний отступ слева для содержимого.
		В мобильной версии - одинаковый для обеих кнопок, и в относительных единицах, если вдруг в дальнейшем 
		захочется поиграть с шириной кнопок.
	*/
}

.app-store-container, .google-play-container {
	padding-left: 30%;
}

.download-button-icon {
	width: 24px;
	height: 24px;
	fill: #ffffff;
}

.app-store-icon {
	margin-bottom: 0.3em; /*Иконку надо приподнять над осевой линией, выровняв яблоко по тексту*/
}

.download-button-text {
	margin: 7px 0 7px 10px; /*Здесь задаётся высота кнопки (высота текста+отступы) и отступ текста от иконки*/
	
	font-size: 8px;
	font-weight: 400;	
  text-transform: uppercase;
}

.download-button-line2 {
	font-weight: 700;		
}

.athlets {
	position: relative;
	padding-top: 9px;
}

.athlets::after {
  content: "";
 
  /*Создать слой Фона поверх дочерних элементов*/
  position: absolute;
  top: 0;
  left: 0;
	/*Первый фоновый рисунок может частично наползать на область второго*/
  bottom: -100px;
  right: 0;
	z-index: 1;	
	
	background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
	background-position: center top 11%;
	background-size: 60% auto;
}


.athlets-h2 {
	font-size: 50px;
	font-weight: 700;
  text-transform: uppercase;
	color: #e7e7e7;	   	
}

.athlets-wrapper, .players-wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.athlets-01 {
	margin-top: 72%;
	padding-top: 75px;
	padding-bottom: 50px;
	background-color: #fafafa;	
}

.athlets-02 {
	padding-top: 53px;
	padding-bottom: 50px;
	background-color: #f5f4f9;	
}

.athlets-03 {
	padding-top: 53px;
	padding-bottom: 53px;
	background-color: #5e42b0;	
}

.athlets-article-title {
	display: flex;
	align-items: center;
}

.athlets-link {
	display: block;
	/*Вытащить ссылку из-под фона, а то не реагирует на курсор мыши*/
	position: relative;
	z-index: 2;
	
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
	color: #000000;
}

.athlets-link::after {
  content: "";
	
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  
  width: 16px;
	height: 4px;
  margin: 0 auto;
  border-radius: 1px;
}

.athlets-link:hover {
	color: #ff8800;	
}

.athlets-link:hover::after {
	background-color: #ff8800; 
}

.athlets-link-01::after, .athlets-link-02::after, .players-link-01::after, .players-link-02::after {
	background-color: #5e42b0;
} 

.athlets-link-03::after, .players-link-03::after {
	background-color: #ffffff; 	
}

.players-link-03 {
	color: #8765dd;	
}

.athlets-h3 {
	margin-left: 7px;
	
	font-size: 23px;
	letter-spacing: 1px;
	font-weight: 700;
  text-transform: uppercase;	
	color: #c1c1c1;
}

.athlets-text {
	margin-top: 19px;
	
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	font-weight: 400;	
	color: #000000;
}

.athlets-text-03, .players-text-03 {
	color: #ffffff;
}

.players {
	position: relative;	
	padding-top: 5px;
}

.players::after {
  content: "";
 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	z-index: 1;	
	
	background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center top 11%;
  background-size: 95% auto;
}

.players-01 {
	margin-top: 72%;
	padding-top: 75px;
	padding-bottom: 50px;		
	background-color: #fafafa;	
}

.players-02 {
	padding-top: 53px;
	padding-bottom: 35px;	
	background-color: #f5f4f9;
}

.players-03 {
	padding-top: 53px;
	padding-bottom: 53px;	
	background-color: #090c35;	
}

.work-picture, .work-img {
	display: block;
	width: 100%;
}		

.work-text-container {
	position: relative;
	padding: 25px 20px 77px 20px;
}

.work-article:nth-child(2) .work-text-container {
	padding-bottom: 80px;
}

.work-article:nth-child(3) .work-text-container {
	padding-bottom: 70px;
}

.work-title {
	font-size: 27px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;	
	color: #e7e7e7;	
}

.work-text {
	margin-top: 12px;

	font-size: 16px;
	letter-spacing: 1px;
	line-height: 20px;
	font-weight: 400;	
	color: #000000;
}

.work-link {
	display: block;
	position: absolute;
	top: 0;
	transform: translateY(-85%);

	padding: 23px 26px 29px 26px;
	background-color: #5e42b0; 
	
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;	
	color: #f5f6f7;	
}

.work-link::after {
  content: "";
	
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
	
  margin: 0 auto; 
	width: 16px;
	height: 4px;
	border-radius: 1px;
	background-color: #ffffff; 
	opacity: 0.35;
}

.work-link:hover {
	color: #ff8800;	
}

.work-link:hover::after {
	background-color: #ff8800;
	opacity: 1;
}

.footer { 
  position: relative; /*Чтобы позиционировать относительно него маску*/
	min-width: 320px;	
  padding-top: 32px;
  padding-bottom: 85px;
	
  background-color: #000000;
	background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*Псевдоэлемент - маска для затемнения изображения*/
.footer::after {
  content: "";
  
  background-color: #0a0e34;
  opacity: 0.9;
 
  /*Растянуть на весь родительский элемент*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-top {
	
}

.logo-button {
	
}

.logo-button-icon {
	width: 50px;
	height: 50px;
	fill: #ffffff;	
}

.logo-button:hover .logo-button-icon {
	fill: #ff8800;
}

.footer-text {
	
}

.footer-title {
	
}

.footer-subtitle {
	
}

.foooter-bottom {
	width: 135px;
	margin: 0 auto;	
}

/*======Общие стили для планшетной и десктопной версии======*/
@media (min-width: 641px) {
	
	.header-buttons {
		/************************************************************************************************************************
			Здесь ввёл выравнивание по центру, поэтому ограничение по ширине для flex-контейнера в дальнейшем не потребуется.
			Далее для планшетной и десктопной версии вводится ширина кнопок по содержимому с учётом внутренних отступов и для второй
			кнопки задаётся margin-left 
		*/
		display:flex;
		justify-content: center;
	}
	
	.download-button:not(:first-child) {
		margin-top: 0;
	}	
	
}

/*===============Стили для планшетной версии================*/
@media (min-width: 641px) and (max-width: 960px) {
	
	.header {	
		padding-top: 39px;
    padding-bottom: 90px;		
		background-image: url("../images/football_1280.jpg");
	}

	.header-top {
		width: 205px;
	}
	
	.header-text {
		width: 610px;
		margin: 159px 0 0 calc((100% - 610px)/1.75);
	
		font-size: 64px;
		line-height: 80px;
		letter-spacing: 3px; 
	}
	
	.header-text-line2 {
		margin-top: 0;
		padding-left: 105px;
	}

	.header-buttons {
		margin-top: 293px;	
		padding: 0 15px;
	}	
	
	.download-button:not(:first-child) {
		margin-left: 30px;
	}
	
	.app-store-container {
		padding: 0 55px 0 40px;
	}
	
	.google-play-container {
		padding: 0 80px 0 55px;
	}

	.download-button-icon {
		width: 42px;
		height: 42px;
	}
	
	.download-button-text {
		margin: 23px 0 23px 25px;
	
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 1px;
	}

	.athlets {	
		padding-top: 60px;
	}
	
	.athlets::after {
		background-image: url("../images/footballer_497.png");
		background-position: left -53% top 100px;
		background-size: 62% auto;	
	}
	
	.athlets-h2 {
		font-size: 80px;  		
	}
	
	.athlets-wrapper{
		padding-left: 38%;
		padding-right: 33px;
	}

	.athlets-01 {
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 32px;
		background-color: #ffffff;	
	}
	
	.athlets-02 {	
		padding-top: 32px;
		padding-bottom: 32px;	
	}

	.athlets-03 {
		padding-top: 32px;
		padding-bottom: 32px;;	
	}

	.athlets-link {
		margin-bottom: 3px;
		font-size: 18px;
	}
	
	.athlets-link::after {
		bottom: -3px;
  
		width: 21px;
		height: 5px;
		border-radius: 2px;
	}
	
	.athlets-link-03::after, .players-link-03::after {
		background-color: #efefef; 	
	}

	.athlets-h3 {
		margin-left: 10px;
	
		font-size: 32px;
		letter-spacing: 2px;
	}
	
	.athlets-text {
		margin-top: 16px;
	
		font-size: 16px;
		line-height: 28px;
	}

	.players {
		padding-top: 60px;
	}

	.players::after {
		background-image: url("../images/basketballer_436.png");
		background-position: right top 25%;
		background-size: 55% auto;	
	}

	.players-wrapper {
		padding-left: 33px;
		padding-right: 38%;
	}
	
	.players-01 {
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 32px;		
		background-color: #ffffff;	
	}

	.players-02 {
		padding-top: 32px;
		padding-bottom: 32px;	
	}

	.players-03 {
		padding-top: 32px;
		padding-bottom: 32px;		
	}

	.work-text-container {
		padding: 40px 32px 100px 32px;
	}

	.work-article:nth-child(2) .work-text-container {
		padding-top: 53px;
		padding-bottom: 105px;
	}

	.work-article:nth-child(3) .work-text-container {
		padding-top: 53px;
		padding-bottom: 114px;
	}

	.work-title {		
		font-size: 80px;
		color: #c1c1c1;
		opacity: 0.4;
	}
	
	.work-text {
		margin-top: 33px;
		
		font-size: 24px;
		line-height: 28px;
	}

	.work-article:nth-child(2) .work-text {
		margin-top: 11px;		
	}
	
	.work-article:nth-child(3) .work-text {
		margin-top: 11px;		
	}
	
	.work-link {
		top: 0;
		transform: translateY(-78%);

		padding: 34px 43px 45px 43px;
		background-color: #5e42b0; 
	

		font-size: 26px;
	}

	.work-link::after {

		bottom: 41px;
	 
		width: 25px;
		height: 5px;
		border-radius: 2px;
		opacity: 0.35;
	}	
	
}

/*============Сжатие кнопок для узкого планшета=============*/
@media (min-width: 641px) and (max-width: 720px) {
  /*
		Здесь явный breakpoint, в верхней части диапазона ширина кнопок не должна зависеть от ширины окна,
		а в нижней части ширина, заданная в макете, не подходит. Пробовал разные способы, больше всего 
		понравилась отдельная версия кнопок с постоянными уменьшенными отступами.
	*/	
	.app-store-container {
		padding: 0 30px 0 15px;
	}
	
	.google-play-container {
		padding: 0 55px 0 30px;
	}
	
	/*Заодно и шрифт здесь уменьшить, а то "FIND CONTACT" не влезает в строку*/
	.work-title {		
		font-size: 60px;
	}

}

/*===============Стили для десктопной версии================*/
@media (min-width: 961px) {
	
	.wrapper {
		max-width: 1920px;
		margin: 0 auto;
	}

	.header {
		padding-top: 45px;
		padding-bottom: 110px;		
		background-image: url("../images/football_1920.jpg");
	}

	.header-top {
		width: 192px;
	}	
	
	.header-text {
		width: 82%;
		min-width: 940px;
		margin: 280px auto 0 auto;
	
		font-size: 90px;
		line-height: 90px;
		letter-spacing: 5px;	   
	}

	.header-text-line2 {
		margin-top: 0;
		padding-left: calc(48% - 300px);
	}
	
	.header-buttons {
		margin-top: 220px;	
		padding: 0;
	}	
	
	.download-button:not(:first-child) {
		margin-left: 50px;
	}

	.app-store-container {
		padding: 0 55px 0 35px;
	}
	
	.google-play-container {
		padding: 0 80px 0 55px;
	}
	
	.download-button-icon {
		width: 50px;
		height: 50px;
	}
	
	.download-button-text {
		margin: 23px 0 23px 20px;
	
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 1px;
	}		
	.athlets {	
		padding-top: 90px;
	}
	
	.athlets::after {
		background-image: url("../images/footballer_566.png");
		background-position: left 25% top 20px;
		background-size: 30% auto;			
	}
	
	.athlets-h2 {
		font-size: 80px;   	
	}
	.athlets-wrapper{
		padding-left: 52%;
		padding-right: 10%;
	}

	.athlets-01 {
		margin-top: 0;
		padding-top: 75px;
		padding-bottom: 50px;
		background-color: #ffffff;	
	}
	
	.athlets-02 {	
		padding-top: 53px;
		padding-bottom: 50px;
	}

	.athlets-03 {
		padding-top: 53px;
		padding-bottom: 53px;
	}

	.athlets-link {
		margin-bottom: 3px;
		font-size: 18px;
	}

	.athlets-link::after {
		bottom: -3px;
  
		width: 21px;
		height: 5px;
		border-radius: 2px;
	}

	.athlets-link-03::after, .players-link-03::after {
		background-color: #efefef; 		
	}

	.athlets-h3 {
		margin-left: 10px;
	
		font-size: 36px;
		letter-spacing: 2px;
	}

	.athlets-text {
		margin-top: 16px;	
		
		font-size: 20px;
		line-height: 28px;
	}

	.players {
		padding-top: 90px;
	}

	.players::after {
		background-image: url("../images/basketballer_991.png");
		background-position: right 10% top 20px;
		background-size: 50% auto;	
	}
		
	.players-wrapper {
		padding-left: 10%;
		padding-right: 50%;
	}	

	.players-01 {
		margin-top: 0;
		padding-top: 75px;
		padding-bottom: 50px;
		background-color: #ffffff;	
	}
	
	.players-02 {	
		padding-top: 53px;
		padding-bottom: 50px;
	}

	.players-03 {
		padding-top: 53px;
		padding-bottom: 53px;
	}

	.work-article {
		display: flex;
	}

	.work-article:nth-child(even) .work-image-container {
		order: 1;
	}
	
	.work-image-container {
		width: 50%;
	}	
	
	.work-text-container {
		box-sizing: border-box;
		width: 50%;
		font-size: 4.2vw;
	}	
	
	.work-article:nth-child(odd)  .work-text-container {
		padding: 2.9em 2.4em 0 1.4em;
	}

	.work-article:nth-child(even)  .work-text-container {
		padding: 2.9em 1.4em 0 2.4em;
	}

	
	.work-article:nth-child(2) .work-text-container {
		padding-bottom: 0;
	}

	.work-article:nth-child(3) .work-text-container {
		padding-bottom: 0;
	}


	.work-title {	
		font-size: 1em;
		color: #c1c1c1;
		opacity: 0.4;
	}

	.work-text {
		margin-top: 3.7em;

		font-size: 0.3em;
		line-height: 28px;
	}

	.work-article:nth-child(2) .work-text {
		margin-top: 2em;
	}

	.work-article:nth-child(3) .work-text {
		margin-top: 3.5em;
	}
	
	.work-link {
		top: 9em;
    padding: 2.1em 2.9em 2.8em 2.9em;
		font-size: 0.3em;
	}

	.work-article:nth-child(odd) .work-link {
		left: 0;
		transform: translateX(-50%);
	}

	.work-article:nth-child(even) .work-link {
		right: 0;
		transform: translateX(50%);
	}

	.work-link::after {
		bottom: 2.4em;
	 
		width: 1em;
		height: 5px;
		border-radius: 2px;
	}

}

/*=====Ограничение размеров, привязанных к ширине окна======*/
@media (min-width: 1921px) {
	
	.work-text-container {	
		font-size: 80px;
	}

}